body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}
h1 {
    background-color: #ffffff;
    color: #333;
    padding: 20px;
    text-align: center;
}
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

    margin: 0 auto;
}
form button[type="submit"] {
    background-color: #0074d9;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
ul {
    list-style-type: none;
    padding: 0;
}
ul li {
    margin: 5px 0;
}
h2 {
    background-color: #ffffff;
    color: #333;
    padding: 10px;
    margin-top: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #333;
    margin-top: 10px;
    border-spacing: 0;
    vertical-align: top; /* Добавленный стиль */
}
table th, table td {
    border: 1px solid #333;
    padding: 20px;
    text-align: center;
}
table th {
    background-color: #ffffff;
    color: #333;
}
table input[type="checkbox"] {
    width: 20px;
    height: 20px;
}
table button[type="submit"] {
    background-color: #0074d9;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
button[type="button"] {
    background-color: #d90000;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
#user-block {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 20px;
  }
  
  #user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  #user-name {
    font-size: 16px;
    color: #333;
  }
  .panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: left;
    padding: 10px; /* Вместо padding-top и padding-left, чтобы уменьшить код */
  }